.body-full-firstpage {
min-height: 100vh;
background: url('/img/store-bg.jpg');
background-position: center;
background-size: cover;
background-color: #eeeeee;

.overlay-top {
  background: rgba(20,20,19,0.9);
  min-height: 100vh;

  .padded-overlay{
    padding-top:20%;
    text-align: center;
  }
  .login-area{
    margin-top: 50%;
    h3{
      text-align: center;
      color: #3e2723;
    }
    .login-form {
      padding: 20px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.3);

    }
  }

}
}

.home-backgound {
  .left-nav {
    background: url("/img/nav-bg.png");
    min-height: 100vh;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    //position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    h4{
      color: #eeeeee;
      text-align: center;
    }
  .ovetop {
    background: rgba(255, 255, 255, .8);
    min-height: 100vh;

    ul {
      padding-top: 12%;
      margin-left: 5%;

      li{
        display: block;
        margin-before: 1em;
        margin-after: 1em;
        margin-start: 2em;
        margin-end: 2em;
        padding-top: 40px;
        a{
          color: #757575;
          font-size: 1.3em;

        }
      }
    }
  }
  }

  .home-body {
    background: #EEEEEE;
    position: relative;
    float: right;
    width: calc(100% - 260px);
    .mynav {
      width: 100%;

    }
  }


  h4{
    color: #eeeeee;
    text-align: center;
  }
}
